@model TebbyPoker.Web.Models.PlayGameViewModel
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Start</h2>

<div>Flop:</div>
@foreach (var card in Model.CurrentRound.Flop)
{

}

@foreach (var player in Model.CurrentRound.Players)
{
    @Html.Label("Player: ")
    @player.Name
    <br />
    @Html.Label("Hand: ")
    <br />

    foreach (var card in player.Hand)
    {
        @card.ToString()
        @Html.Raw("\n")
        @Html.Raw("\n")
    }
    <br />
    <br />
}